<div class="flex w-full h-24 bg-gray-700 items-center justify-between p-4">
  <div class="font-bold text-yellow-50 text-4xl">WEATHER APP</div>

  <div class="flex flex-col items-end gap-1">
    <button id="settings-button" class="h-6 w-6">
      <img class="h-full w-full" src="/svgs/settings-icon.svg" alt="" />
    </button>

    <div class="relative flex bg-gray-800">
      <button class="m-1 h-6 w-6 absolute">
        <img class="h-full w-full" src="/svgs/search-icon.svg" alt="" />
      </button>
      <input
        class="p-1 pl-8 bg-transparent focus:outline-none focus:ring focus:border-blue-100 placeholder:text-slate-400 text-gray-200"
        placeholder="Search for a city ..."
        type="text"
      />
    </div>
  </div>
</div>
