<div
  class="justify-center flex gap-4 p-4 min-w-fit w-full h-[calc(100vh-6rem)]"
>
  <div
    class="large-weather-card rounded-xl min-w-fit w-72 h-[26rem] py-[1rem] px-[1rem] bg-gray-700"
  >
    <div class="w-full h-full flex flex-col gap-4 items-center">
      <div class="min-w-fit text-2xl text-gray-100 font-bold">MOSCOW</div>
      <div class="min-w-fit text-2xl text-gray-100 font-bold">TODAY</div>
      <div class="min-w-fit text-xl text-gray-100 font-semibold">
        Tuesday, 21.04
      </div>
      <div class="flex gap-3">
        <div class="w-16 h-16 self-center bg-slate-200"></div>
        <div
          class="w-16 h-8 self-center text-center text-2xl text-gray-100 font-bold"
        >
          20 C°
        </div>
      </div>
      <div class="min-w-fit text-xl text-gray-100 font-semibold">
        Feels like: 16 C°
      </div>
      <div class="min-w-fit text-xl text-gray-100 font-semibold">
        Humidity: 72%
      </div>
    </div>
  </div>
  <div
    class="justify-between flex flex-col rounded-xl gap-2 w-[21rem] h-[26rem]"
  >
    <div
      class="small-weather-card justify-between flex min-w-fit gap-[0.3rem] py-[0.2rem] px-[0.5rem] rounded-xl w-full h-[4.5rem] bg-gray-700"
    >
      <div class="flex flex-col gap-[0.3rem]">
        <div
          class="bg-gray-600 w-full h-1/2 text-xl text-gray-100 font-semibold"
        >
          Wednesday, 22.04
        </div>
        <div
          class="bg-gray-500 w-full h-1/2 text-xl text-gray-100 font-semibold"
        >
          Clear
        </div>
      </div>

      <div class="flex gap-2">
        <div
          class="w-16 h-8 self-center text-center text-2xl text-gray-100 font-bold"
        >
          18 C°
        </div>
        <div class="w-16 h-16 self-center bg-slate-200"></div>
      </div>
    </div>
  </div>
</div>
